*{
    margin: 0;
    padding: 0;
}
body{
    background: url(../images/register-bg.jpg) no-repeat top center;
    background-size: cover;
    font-size: 16px;
    font-family: "Microsoft Yahei",sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
/* header */
#header{
    width: 100%;
    height: 52px;
    background: #1f4665;
    overflow: hidden;   
}
.web-name{
    float: left;
    margin-top: 4px;
    margin-left: 60px;
    font-size:  32px;
    color: white;
}
.user-login{
    float: right;
    margin-top: 10px;
    margin-right: 60px;
    padding: 5px;
    border: 1px solid white;
    border-radius: 4px;
}
/* content */
#content{
    width: 54%;
    height: 570px;
    margin: 0 auto;
    margin-top: 17px;
    background: lightgray;
    overflow: hidden;
    border-radius: 10px;
}
.seek-title{
    font-size: 26px;
    padding: 30px 0 10px 40px;
    border-bottom: 1px dotted lightgray;
}
.bor{
    height: 10px;
     width: 1px;
     border: 2px gray solid;
}
label{
    display: block;
    margin-left: 60px;
}
/* info-input */
.info-input{
    width: 240px;
    height: 32px;
    margin-top: 18px;
    margin-left: 10px;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 6px;
}
/* btn */
.btn{
    display: block;
    margin: 0 auto;
    margin-top: 26%;
    margin-bottom: 12px;
    width: 140px;
    height: 40px;
    background: #0ae;
    border: none;
    font-size: 18px;
    color: white;   
}
#register-code,.code-btn{
    width: 140px;
    height: 32px;
    margin-top: 18px;
    margin-left: 10px;
    font-size: 18px;
    border: 1px solid lightgray;
    border-radius: 6px;
}
.code-btn{
    width: 90px;
    margin-left: 6px;
}
.btn-off{
    background: gray;
}
option{
    font-size: 16px;
}
span.warnning{
    display: inline-block;
    margin-left: 30px;
    color: gray;
    font-size: 14px;
}
.star{
    color: red;
}
/* footer */
#footer{
   width: 100%;
    clear: both;
}
.web-right{
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 5% 0 0 0;
    font-size: 15px;
    color: gray;
}